body {
	font-family: 'Inconsolata', monospace;
	height: 100%;
	width: 100%;
}

a {
	color:rgba(0, 0, 0, 0.56);	
}

a:hover {
	text-decoration: none;
	color: #000;
}

h2 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding-bottom: 2%;
}

.navbar {
	height: 8%
}

.navbar-brand {
	margin-left: 15px;
}

.home {
	width: 100vw;
	height: 80vh;
	background: white;
	display: flex;
}

.home h1 {
	font-size: 75px;
}

.footer {
	height: 10%;
}

.contact {
	padding-right: 5%;
}

#contacts {
	margin-bottom: 10px;
}

#contacts a {
	font-size: 26px;
	margin-right: 17px;
}

.rectangle {
	position: absolute;
	top: 50%;
	right: -23px;
	transform: translateY(-135%);
	width: 121px;
	height: 121px;
	background-color: #C4C4C4;
}

.intro {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.intro h1 {
	position: relative;
}

.intro p {
	font-size: 24px;
	line-height: 25px;
	letter-spacing: 0.05em;
}

.triggerimage {
	transform: translateY(-50%);
	display: none;
	position: absolute;
}

#kucing:hover .triggerimage {
	display: block;
}

#foto:hover .triggerimage {
	display: block;
}

.link {
	text-decoration-line: underline;
}

a.link:hover {
	text-decoration: underline;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
	margin-right: 5%;
	margin-left: 5%;
}

#about {
	padding: 4% 20%;
	margin-bottom: 3%;
}

#education {
	font-family: "PT Sans", sans-serif;
	color: white;
	padding: 4% 5%;

}

#jenjang {
	flex-direction: column;
	display: flex;  
	text-align: right;
}

#jenjang h4 {
	padding-right: 5%;
	padding-bottom: 5%;
}

#letak {
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    margin-left: 5%;
}

#letak h4 {
	margin: 3% 0;
}

#line {
	width: 5px;
	background-color: #C4C4C4;
	padding: 0;
}

#line img {
	position: relative;
	right: 14px;
	top: 5px;
}

#book2 {
	margin-top: 4vh;
}

#footer {
	padding-top: 3%;
	text-align: center;
}

#footer p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
}

#keahlian {
	justify-content: center;
}

#keahlian h4{
	margin-right: 25px;
	margin-left: 25px;
}

#galeri {
	height: 100%;
	justify-content: center;
}

#galeri ul {
	display: flex;
	background-color: #C4C4C4;
	padding: 0;
	width: 100%;
}

#galeri li {
	list-style-type: none;
	padding: 5vh;
	position: relative;
}

.small-image {
	width: 20vh;
}

.large-image {
	width: 50vh;
	position: absolute;
	display: none;
	z-index: 10;
}

.landscape-image {
	height: 50vh;
	position: absolute;
	display: none;
	z-index: 10;
}

li:hover .large-image {
	transform: translate(-40%, -78%);
	display: block;
}

li:hover .landscape-image {
	transform: translate(-40%, -60%);
	display: block;
}

tr input{
	margin: 6px;
}

@media (max-width: 800px) {
	.home h1 {
		font-size: 50px;
	}

	.home p {
		font-size: 16px; 
	}

	.small-image {
		width: 85vw;
	}

	li:hover .large-image {
		display: none;
	}

	li:hover .landscape-image {
		display: none;
	}

	#line {
		width: 0px;
		display: none;
	}

	.edu_judul {
		text-align: center;
		font-size: 24px;
	}

	.edu_isi {
		text-align: center;
		font-size: 20px;
	}
}