{% extends 'base.html' %}
{% load static %}

{% block navbar-right %}
	<div class="navbar-nav">
		<a class="nav-link" href="{% url 'tentang_saya' %}" style="font-size: 23px; margin-right: 10px;">
			TENTANG SAYA
		</a>
	</div>
{% endblock navbar-right %}

{% block content %}
		<section class="home d-flex justify-content-center ">
			<div class="intro text-right"> 
				<div class="rectangle"></div>
				<h1> 
					MUHAMMAD <br> 
					NUR<strong>KHOLISH</strong>
				</h1>
				<p>Semoga menjadi Web Desainer yang handal
					<br> aamiin
				</p>
			</div>
		</section>
		<footer class="contact text-right d-flex align-items-center justify-content-end">
			<div id="contacts">
				<a href="https://www.linkedin.com/in/muhammad-nurkholish-a2935117a/">
					<i class="fa fa-linkedin"></i>
				</a>
				<a href="mailto:kholish219@gmail.com">
					<i class="fa fa-envelope-o"></i>
	 			</a>
	 			<a href="https://gitlab.com/kholish219">
	 				<i class="fa fa-gitlab"></i>
	 			</a>
	 			<a href="https://www.instagram.com/kholish_">
	 				<i class="fa fa-instagram"></i>
	 			</a>
 			</div>
		</footer>
{% endblock content %}


