{% extends 'base.html' %}
{% load static %}

{% block navbar-right %}
	<div class="navbar-nav">
		<a href="{% url 'tentang_saya' %}">
			<i class="fa fa-times" style="font-size: 30px; margin-right: 10px"></i>
		</a>
	</div>
{% endblock navbar-right %}

{% block content %}
	<h2> Buat Jadwal </h2>
	<div style=" padding: 2% 5%; margin-bottom: 3%">	
		<form action="{% url 'jadwal' %}" method="POST">
			{% csrf_token %}
			<table class="d-flex justify-content-center" style="font-size: 1.25rem;">
				{{ form_ini.as_table }}
			</table>
			<div class='d-flex justify-content-center' style="margin-top: 10px">
				<input class="btn btn-outline-secondary" type="submit" name="submit" value="OK">
			</div>
		</form>
	</div>
	
	<div style=" padding: 2% 10%; background: rgba(0, 0, 0, 0.56); color: white">
		<h2 style="text-align: left;"> Jadwal : </h2>
		<form action="{% url 'delete_jadwal' %}" method="POST">
			{% csrf_token %}
			{% for isi in isi_jadwal %}
			<div style="font-size: 1.25rem; margin-bottom: 10px">
				<b style="font-size: 1.5rem">{{ isi.kegiatan|title }}</b> 
				{{ isi.hari }}
				{{ isi.tanggal }}
				<br>
				{{ isi.jam }}
				{{ isi.kategori }}
				<br>
				<i class="fa fa-map-marker" style="font-size: 25px;"></i>
				{{ isi.tempat|title }}

				<button class="btn btn-outline-light" type="submit" name="delete" value="{{ isi.id }}">delete this</button>
			</div>
			{% endfor %}
		</form>
	</div>
{% endblock content %}
