{% extends 'base.html' %}

{% load static %}

{% block navbar-right %}
	<div class="navbar-nav">
		<a href="{% url 'tentang_saya' %}">
			<i class="fa fa-times" style="font-size: 30px; margin-right: 10px"></i>
		</a>
	</div>
{% endblock navbar-right %}

{% block content %}
<div id="galeri">
	<!--galeri kucing-->
	<div style="height: 10%; padding-top: 3%">
		<h2> GALERI KUCING </h2>
	</div>
	<div class="d-flex flex-column justify-content-xl-center" style="height: 80%">
		<ul class="d-flex justify-content-center align-items-center flex-wrap">
		    <li>
		    	<img src="{% static 'princess chonky.jpg' %}" class="small-image">
		    	<img src="{% static 'princess chonky.jpg' %}" class="large-image">
		    </li>
		    <li>
		    	<img src="{% static 'princess chonky 2.jpg' %}" class="small-image">
		    	<img src="{% static 'princess chonky 2.jpg' %}" class="large-image">
		    </li>
		    <li>
		        <img src="{% static 'keket.jpg' %}" class="small-image">
		        <img src="{% static 'keket.jpg' %}" class="landscape-image">
		    </li>
		    <li>
		        <img src="{% static 'kucing pacil.jpg' %}" class="small-image">
		        <img src="{% static 'kucing pacil.jpg' %}" class="large-image">
		    </li>
		    <li>
		        <img src="{% static 'poyong.jpg' %}" class="small-image">
		        <img src="{% static 'poyong.jpg' %}" class="large-image">
		    </li>
		</ul>
	</div>
</div>
{% endblock content %}