{% extends 'base.html' %}

{% load static %}

{% block navbar-right %}
	<div class="navbar-nav">
		<a class="nav-link" href="{% url 'jadwal' %}" style="font-size: 23px; margin-right: 10px;">
			JADWAL
		</a>
	</div>
{% endblock navbar-right %}

{% block content %}
<section id="about">
	<div>
		<h2> TENTANG SAYA </h2>
		<h4>
			Halo Semua!<br>
			Nama saya <span class="link" id="foto">Muhammad Nurkholish,<span class="triggerimage">
			<img src="{% static 'kholish.png'%}" style="width: 357px; filter: grayscale(100%);">
			</span></span> dan saya adalah mahasiswa program studi Ilmu Komputer. Sekarang sedang tertarik pada front-end web developer. Saya suka <span class="link" id="kucing">kucing,<span class="triggerimage">
			<img src="{% static 'kucingku.jpg'%}" style="width: 347px">
			</span></span> kucing, dan kucing.
			<br><br>
			<a class="link" href="{% url 'galeri_kucing'%}">Galeri Kucing</a>
		</h4>
	</div>			
</section>

<section id="education" class="container-fluid-home" style=" background: rgba(0, 0, 0, 0.56);">
	<div class="row" style="justify-content: center">
		<h2> PENDIDIKAN </h2>
	</div>
	<div class="row">
	<div class="col-md-6" id="jenjang">
		<h4 class="edu_judul"> 
			Pendidikan Sarjana<br>
			Agustus 2018 - Sekarang
		</h4>
		<h4 class="edu_isi">Universitas Indonesia<br>
			<br>
			Anggota Divisi Sosial Masyarakat, Forum Ukhuwah dan Kajian Islam, Fakultas Ilmu Komputer
		</h4>
	</div>
	<div id="line" class="col-auto">
		<img id="book1" src="{% static 'Vectorbook.svg'%}">
		<img id="book2" src="{% static 'Vectorbook.svg'%}">
	</div>
	<div id="letak" class="col-md-5">
		<h4 class="edu_judul">
			Sekolah Menengah Atas<br>
			Juli 2015 - Mei 2018
		</h4>
		<h4 class="edu_isi">SMAN 2 Depok<br>
			<br>
			Wakil Ketua Rohani Islam SMAN 2 Depok
		</h4>
	</div>
	</div>
</section>

<section id="footer">
	<div>
		
	</div>
	<div>
		<div>
			<div>
				<h2>KEAHLIAN </h2>
			</div>
			<div id="keahlian" class="d-flex">
				<div><h4>Java</h4></div>
				<div><h4>Python</h4></div>
				<div><h4>HTML & CSS</h4></div>
			</div>
		</div>
		<div class="footer-container">
			<div>
				<i class="fa fa-map-marker" style="font-size: 30px; margin-bottom: 10px;"></i>
				<p> 
					Cilodong, Depok<br>Indonesia
				</p>
			</div>
			<div>
				<p style="font-size: 20px">
					KONTAK SAYA
				</p>
				<div id="contacts">
					<a href="https://www.linkedin.com/in/muhammad-nurkholish-a2935117a/">
						<i class="fa fa-linkedin"></i>
					</a>
					<a href="mailto:kholish219@gmail.com">
						<i class="fa fa-envelope-o"></i>
		 			</a>
		 			<a href="https://gitlab.com/kholish219">
		 				<i class="fa fa-gitlab"></i>
		 			</a>
		 			<a href="https://www.instagram.com/kholish_">
		 				<i class="fa fa-instagram"></i>
		 			</a>
		 		</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}